
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: rgba(0,0,0,0.5);
    padding: 50px;
    border-radius: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#countdown div {
    font-size: 2rem;
}